<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>condition</title>
</head>
<body>
    <div>
        <form oninput="x.value=parseInt(a.value)" action="http://localhost:8080/condition" method="post">
            제목을 입력하시오<br>
            <div id="circle"></div>
            <input type="range" id="a" name="condition_range" min="1" max="10">
            <output name="x" for="a"></output><br>
        </form>
    </div>
</body>
<script>
    var date = new Data();
</script>
</html>