<!DOCTYPE html>
<html>
  <head>
    <title>일기 수정</title>

  </head>
  <%
    var read = rows[0];
  %>
  <body>
    <h1>일기 수정하기</h1>
    
    <form action="http://localhost:8080/diary/modify/<%=read.iddiary%>/save" method="post">
      <div id="insertdiary">
              <input type="text" name="title" placeholder="제목을 입력하세요" id = "diary_title">
              <input type="text" name="content" placeholder="내용을 입력하세요" id="diary_content">
      </div>
      <div id="insertdate">
              <input type="date" name="date" id="diary_date" value="<%=read.date%>" readonly>
      </div>
          <button id="save">저장</button>
  </form>
  </body>
</html>