<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
</head>
<body>
    <h2>다이어리</h2>
    <a href="http://localhost:8080"><h4>main</h4></a>
    <a href="http://localhost:8080/diary/write">일기 쓰기</a>
    <a href="http://localhost:8080/diary/write">일기 수정</a>
</body>
</html>