<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>가치 있는 하루</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div id="title">가치 있는 하루</div>
    <div id="subtitle">
    안녕하세요! 
    <% if(isLogin){ %>
        <%= name %>님
    <% } %>
    <br>
    매일을 가치 있게 만들 준비 되셨나요?
    <hr>
    </div>
    <a href="" style="top: 133px; left: 1029px;">로그인</a>
    <a href="">회원가입</a>
    
    <!-- 세션을 확인해 로그인이 안되어있으면 '로그인' 표시, 로그인 중이라면 '로그아웃' 표시. -->
    <% if(isLogin){ %>
        <form action="http://localhost:8080/users/logout" method="GET">
            <button id="logoutBtn" style="width: auto;">로그아웃</button>
        </form>
    <% } else{ %>
        <button id="loginBtn" onclick="document.getElementById('myModal').style.display='block'" style="width: auto;">로그인</button>
    <% } %>

    <div class="purple" id="diary">
        <a href="http://localhost:8080/diary">일기</a>
        <img class="img1" src="/images/journal.png" alt="">
    </div>
    <div class='purple' id="list">
        <a href="http://localhost:8080/todolist">할 일</a>
        <img class="img1" src="/images/checklist.png" alt="">
    </div>
    <div class='purple' id="timetable">
        <a href="http://localhost:8080/timetable">시간표</a>
        <img class="img1" src="/images/calendar.png" alt="">
    </div>
    <div class='purple' id="condition">
        <a href="http://localhost:8080/condition">오늘 내 컨디션</a>
        <img class="img1" src="/images/health-check.png" alt="">
    </div>
 
</body>
</html>